a{
    color: $accent-primary;
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:focus{
        // border-bottom: 1px solid lighten($accent-primary, $hover-lighten-percent);
        text-decoration: underline;
        color: lighten($accent-primary, $hover-lighten-percent);
    }
}
.a--no-decoration,
.a--no-decoration:hover,
.a--no-decoration:focus{
    text-decoration: none;
    border-bottom: none;
    color: inherit;
}
