$white: #E6E6EA;
$black: #39393F;
$mainBlue: #1D58FF;
$secondaryBlue: #1C1DE8;
$highlight: #FF2350;

$primary-bg: #E6E6EA;
$header-bg: #39393F;
$accent-background: #e9edf1;
$nav-bg: $primary-bg;
$footer-bg: $header-bg;

$primary-text: #333;

$accent-primary: #02bd74;
$accent-secondary: #4cc8f6;

$color-exceeding: #a6cd00;
$color-meeting: #00c5c5;
$color-approaching: #ead000;
$color-below: #ff5c2e;

$hover-lighten-percent: 25%;

$mobile-breakpoint: 430px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;