*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}
.wrap{
    width: 100%;
}
.clearfix:after {
  clear: both;
}
.affix {
  position: fixed;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide,
.hidden  {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.truncate-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}